body {
  background-color: #ebecef;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.container {
  max-width: 1335px;
  margin: 0 auto;
  margin-top: 100px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.grid-item {
  top: 0px;
  transition: all 200ms ease-in-out;
  flex-basis: 20%;
  min-width: auto;
  max-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100%;
}


.grid-item:hover {
  top: -20px;
}




@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}